.mb {
	// mb-0 .. mb-100
	@for $i from 0 through 100 {
		&-#{$i} {
			margin-bottom: #{$i}px;
		}
	}

	// mb-0--xs .. mb-100--xs
	@include media($xs) {
		@for $i from 0 through 100 {
			&-#{$i}--xs {
				margin-bottom: #{$i}px;
			}
		}
	}

	// mb-10--sm .. mb-100--sm
	@include media($sm) {
		@for $i from 0 through 100 {
			&-#{$i}--sm {
				margin-bottom: #{$i}px;
			}
		}
	}

	// mb-0--md .. mb-100--md
	@include media($md) {
		@for $i from 0 through 100 {
			&-#{$i}--md {
				margin-bottom: #{$i}px;
			}
		}
	}

	// mb-0--lg .. mb-100--lg
	@include media($lg) {
		@for $i from 0 through 100 {
			&-#{$i}--lg {
				margin-bottom: #{$i}px;
			}
		}
	}

	// mb-0--xl .. mb-100--xl
	@include media($xl) {
		@for $i from 0 through 100 {
			&-#{$i}--xl {
				margin-bottom: #{$i}px;
			}
		}
	}
}

.mt {
	// mb-0 .. mb-100
	@for $i from 0 through 100 {
		&-#{$i} {
			margin-top: #{$i}px;
		}
	}

	// mb-0--xs .. mb-100--xs
	@include media($xs) {
		@for $i from 0 through 100 {
			&-#{$i}--xs {
				margin-top: #{$i}px;
			}
		}
	}

	// mb-10--sm .. mb-100--sm
	@include media($sm) {
		@for $i from 0 through 100 {
			&-#{$i}--sm {
				margin-top: #{$i}px;
			}
		}
	}

	// mb-0--md .. mb-100--md
	@include media($md) {
		@for $i from 0 through 100 {
			&-#{$i}--md {
				margin-top: #{$i}px;
			}
		}
	}

	// mb-0--lg .. mb-100--lg
	@include media($lg) {
		@for $i from 0 through 100 {
			&-#{$i}--lg {
				margin-top: #{$i}px;
			}
		}
	}

	// mb-0--xl .. mb-100--xl
	@include media($xl) {
		@for $i from 0 through 100 {
			&-#{$i}--xl {
				margin-top: #{$i}px;
			}
		}
	}
}

@include media-max($xs - 1px) {
	.hidden-xs--small {
		display: none !important;
	}
}

@include media-mix($xs, $sm - 1) {
	.hidden-xs {
		display: none !important;
	}
}

@include media-mix($sm, $md - 1) {
	.hidden-sm {
		display: none !important;
	}
}

@include media-mix($md, $lg - 1) {
	.hidden-md {
		display: none !important;
	}
}

@include media-mix($lg, $xl - 1) {
	.hidden-lg {
		display: none !important;
	}
}

@include media($xl) {
	.hidden-xl {
		display: none !important;
	}
}
