.counter {
	display: flex;

	&__btn {
		flex-shrink: 0;
		width: $counter-btn-size;
		height: $counter-btn-size;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__input {
		text-align: center;
	}
}
